In [12]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True


count=0
for i in range(1,100):
    if is_prime(i):
        print(i,end=" ")
        count+=1
print("total primes:",count)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 total primes: 25

In [23]:
def Armstrong(n):
    z=t=n
    count=0
    while t>0:
        count+=1
        t//=10
    sum=0
    while z>0:
        sum=sum+(z%10)**count
        z//=10
    return sum==n


count=0
for i in range(1,500):
    if Armstrong(i):
        print(i,end=" ")
        count+=1
print(f'total count {count}')

1 2 3 4 5 6 7 8 9 153 370 371 407 total count 13

In [30]:
def armstrong(n):
    num=n
    m=len(str(n))
    tot=0
    while n>0:
        d=n%10
        tot=tot+d**m
        n//=10
    return tot==num
count=0
for i in range(1,500):
    if armstrong(i):
        print(i,end=" ")
        count+=1
print(count)

1 2 3 4 5 6 7 8 9 153 370 371 407 13

In [27]:
for i in range(1,101):
    if i%2 !=0:
        continue
    else:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [28]:
for i in range(1,101):
    if i%2 ==0:
        continue
    else:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [11]:
s=" hell o wo rld"
s2=s.split()
s1=""
for e in s2:
    s1+="".join(e)


print(s1)
print(type(s1))

helloworld
<class 'str'>

In [13]:
s="hello"
print(s[::-1])

olleh

In [16]:
s1="he llo"
s1="".join(s1.split())
print(s1)

hello

In [ ]:
"""
Convert snake to Camel    my_variable_name --->  myVariablename
        snake to pascal   my_variable_name ----->  MyVariableName
        camel to snake    myVariablename --->   my_variable_name
"""
s="my_variable_name"
v="_"
parts=s.split("_")
print(parts)
camel=parts[0]+"".join(word.capitalize() for word in parts[1:])
print(camel)

['my', 'variable', 'name']
myVariableName

In [24]:
# snake to pascal   my_variable_name ----->  MyVariableName

s="my_variable_name"
s=s.split("_")
print(s)
s1=""
for e in s:
    s1+="".join(e.capitalize())
print(s1)

['my', 'variable', 'name']
MyVariableName

In [ ]:
# to snake    myVariablename --->   my_variable_name
s1="myVariableName"

s1=[]

AttributeError: 'list' object has no attribute 'isupper'

In [26]:
s="hELLO"
s=s.swapcase()
print(s)

Hello