In [2]:
n=4
for r in range(n):
    for c in range(n):
        print("*",end="")
    print()

****
****
****
****

In [5]:
res="**--"
for i in range(2):
    for j in range(2):
        print(res,end="")
        print()
    res="__**"

**--
**--
__**
__**

In [1]:
n=2
for r in range(n*2):
    for c in range(n*2):
        if (r<2 and c<2 ) or (r>=2 and c>=2):
            print("*",end="")
        else:
            print("-",end="")
    print()

**--
**--
--**
--**

In [19]:
n=4

for r in range(n*2):
    for c in range(n*2):
        if (r<n and c<n ) or (r>=n and c>=n):
            print("*",end="")
        else:
            print("_",end="")
    print()

****____
****____
****____
****____
____****
____****
____****
____****

In [83]:
n=4

for i in range(2*n):
    for j in range(2*n):
        if (i<n//2 and j<n//2 or j>=n ):  #top-left
            print("*",end="")
        elif(i<n//2 and j>=n//2):
           print("-",end="")
        elif(i>=n//2 and j<n//2 or j>=n):
            print("-",end="")
        elif(i>=n and j<n//2 or j>=n):
            print("*",end="")
        elif(i>=n and j<n//2):
            print("-",end="")
        # elif((i==n or i==n+1) and j>=n//2):
        #     print("-",end="")
        # elif((i==n//2 or i==n//2+1)and j>=n//2):
        #     print("*",end="")
    print()

**--****
**--****
--****
--****
--****
--****
--****
--****

In [85]:
n = 4

for i in range(2*n):        # total rows = 2n
    for j in range(2*n):    # total cols = 2n
        # Determine position inside n x n block
        if (i % n) < n//2 and (j % n) < n//2:      # top-left quadrant
            print("*", end="")
        elif (i % n) < n//2 and (j % n) >= n//2:   # top-right quadrant
            print("-", end="")
        elif (i % n) >= n//2 and (j % n) < n//2:   # bottom-left quadrant
            print("-", end="")
        else:                                      # bottom-right quadrant
            print("*", end="")
    print()

**--**--
**--**--
--**--**
--**--**
**--**--
**--**--
--**--**
--**--**

In [91]:
n=4
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 :
            print("*",end="")
        else:
            print(" ",end="")
    print()

****
*  *
*  *
****

In [95]:
n=4
for r in range(n):
    for k in range(r):
        print(" ",end="")
    for c in range(n):
        print("*",end="")
    
    print()

****
 ****
  ****
   ****

In [96]:
n=4
for i in range(n):
    for j in range(n+2):
        print("*",end="")
    print()

******
******
******
******

In [99]:
n=4
for r in range(n):
    for c in range(n+2):
        if r==0 or c==0 or r==n-1 or c==n+1:
            print("*",end="")
        else:
            print(" ",end="")
    print()

******
*    *
*    *
******

In [101]:
n=4
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(n+2):
        print("*",end="")
    print()

******
 ******
  ******
   ******

In [108]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(n):
        print("*",end="")
    print()

   ****
  ****
 ****
****

In [109]:
n=4
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****

In [110]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    for x in range(i):
        print("*",end="")
    print()

   *
  ***
 *****
*******

In [116]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for x in range(2*i+1):
        if x==0 or x==2*i or i==n-1:
            print("*",end="")
        else:
            print(" ",end="")

    print()

   *
  * *
 *   *
*******

In [2]:
n=4
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(n-i):
        print("*",end="")
    for x in range(n-i-1):
        print("*",end="")
    print()

*******
 *****
  ***
   *

In [16]:
n=4
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(2*(n-i)-1):
        if k==0 or k==2*(n-i)-2 or i==0:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*******
 *   *
  * *
   *

In [32]:
n=4
for i in range(n):
    for i in range(i+1):
        print("*",end="")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print("*",end="")
    print()

*
**
***
****
***
**
*

In [ ]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print()
for i in range(n-1):       
    for j in range(i+1):
        print(" ", end="")
    for j in range(n - i - 1):
        print("*", end="")
    print()

   *
  **
 ***
****
 ***
  **
   *

In [72]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i*2+1):
        print("*", end="")
    print()

for i in range(1, n):
    for j in range(i):
        print(" ",end="")
    for j in range(2*(n-i)-1):
        print("*", end="")
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

In [71]:
n=4
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print()
for i in range(1,n):       
    for j in range(i):
        print(" ", end="")
    for j in range(n - i ):
        print("*", end="")
    print()

   *
  **
 ***
****
 ***
  **
   *

In [4]:
n=int(input("enter a number:"))

for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
n=int(input("enter a number:"))

for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [8]:
n=int(input("enter a number:"))

for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
n=int(input("enter a number:"))

for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
n=int(input("enter a number:"))

for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [12]:
n=int(input("enter a number:"))

for i in range(n):
    for j in range(n-i):
        print(j+1,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [13]:
n=5

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [17]:
n=6

for i in range(n):
    for j in range(i):
        print(" ",end=" ")
    for k in range(2*(n-i)-1):
        print("*",end=" ")
    print()

* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [36]:
n=5

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i):
        print(" ",end=" ")
    for k in range(2*(n-i)-1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [37]:
n=5

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for k in range(2*i+1):
        print("*",end=" ")
    print()
for i in range(1,n):
    for j in range(i):
        print(" ",end=" ")
    for k in range(2*(n-i)-1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=5
s=1
for i in range(n):
    for j in range(i+1):
        if j%2==0:
            print("0",end=" ")
        else:
            print("1",end=" ")
    print()

0
0 1
0 1 0
0 1 0 1
0 1 0 1 0