Problem solving :- looping statnents

In [26]:
n=123
m=str(n)
sum=0
for i in m:
    sum+=int(i)
print(sum)

6

In [27]:
s="aaabbccd"
res=""
for ch in s:
    if ch not in res:
        count=0
        for e in s:
            if e ==ch:
                count+=1

        res=res+f"{ch}{count}"
print(res)

a3b2c2d1

In [28]:
s = "aaabbccd"
res = ""

for i in range(len(s)):
    ch = s[i]
    if ch not in res:        # ensures we only count first time
        count = 0
        for j in range(len(s)):
            if s[j] == ch:
                count += 1
        res += f"{ch}{count}"

print(res)

a3b2c2d1

In [29]:
ip = "aabbaaccbb"
output = ""
for ch in set(ip):
    cnt = 0
    for c in ip:
        if c == ch:
            cnt += 1
    output += f"{ch}{cnt}"
print(output)

a4b4c2

In [30]:
s= "aabbbaaccbb"
res=s[0]
c=1
for i in range(1,len(s)):
    if s[i]==s[i-1]:
        c+=1
    else:
        res=res+str(c)+s[i]
        c=1
res+=str(c)
print(res)

a2b3a2c2b2

In [31]:
a=10
b=2
c=8
if a>b and a>c:
    if b>c:
        print(a+b)
    else:
        print(a+c)
elif b>a and b>c:
    if a>c:
        print(b+a)
    else:
        print(b+c)
else:
    if a>b:
        print(c+a)
    else:
        print(c+b)

18

In [32]:
l=[1,2,3,4,5]
l1=l[len(l)-2::]+l[0:len(l)-2]
print(l1)

[4, 5, 1, 2, 3]

In [33]:
l=[1,2,3,4,5]
l1=[]
l1.append(l[-2])
l1.append(l[-1])
l.remove(l[-2])
l.remove(l[-1])
l1=l1+l
print(l1)

[4, 5, 1, 2, 3]

In [34]:
s = "[()[]{]"
def is_balanced(s):
    st=[]
    for c in s:
        if c =="(" or c=="{" or c=="[":
            st.append(c)
        elif c ==")" or c=="}" or c=="]":
            if not st:
                return False
            top=st.pop()
            if (c == ')' and top != '(') or (c == '}' and top != '{') or (c == ']' and top != '['):
                return False
    return not st
print(is_balanced(s))

False

In [35]:
l1=[1,17,4,1,3,5,2,2]
sm=float("inf")


ssm=float("inf")
for ch in l1:
    if ch<sm:
        ssm=sm
        sm=ch
    elif ch<ssm and ch !=sm:
        ssm=ch
print(sm,ssm)

1 2

In [36]:
s="helloworld"
s=s[5::-1]
print(s)

for i in range(len(s)-1,-1,-2):
    print(s[i])

wolleh
h
l
o

In [37]:
x=23
flag=1
for i in range(2,x):
    if x%i==0:
        flag=0
        break
if flag==0:
    print("not a prime")
else:
    print("prime")

prime

In [38]:
x=23
def is_prime(x):
    if x<=1:
        return False    
    for i in range(2,x):
        if x%i==0:
            return False
    return True
is_prime(x)

True

In [39]:
# make a list of prime numbers within a range  1 to 25 using comprehension
op=[x for x in range(1,25) if is_prime(x)]
print(op)
op={x:x**2 for x in range(1,25)}
print(op)

[2, 3, 5, 7, 11, 13, 17, 19, 23]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576}

In [40]:
res=tuple((x,x**2) for x in range(2,6))
print(res)

((2, 4), (3, 9), (4, 16), (5, 25))

In [41]:
# l1=["sravani","sravan","kumar","kumari","laxman","arjun",]
# (('sravani,'female')

In [42]:
n=13
def is_prime(x):
    if x<=1:
        return False
    for i in range(2,x):
        if x%i==0:
            return False
    return True
if is_prime(n):
    print("prime")
else:
    print("not prime")

prime

In [43]:
n=25
def is_prime(x):
    if x<=1:
        return False
    for i in range(2,x):
        if x%i==0:
            return False
    return True
for i in range(1,n):
    if is_prime(i):
        print(i,"prime")
    else:
        print(i,"not prime")

1 not prime
2 prime
3 prime
4 not prime
5 prime
6 not prime
7 prime
8 not prime
9 not prime
10 not prime
11 prime
12 not prime
13 prime
14 not prime
15 not prime
16 not prime
17 prime
18 not prime
19 prime
20 not prime
21 not prime
22 not prime
23 prime
24 not prime

In [44]:
n=5
a=0
b=1
print(a,b,end=" ")
for i in range(n-2):
    c=a+b
    a=b
    b=c
    print(c,end=" ")

0 1 1 2 3

In [45]:
n=5
a,b =0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

0 1 1 2 3

In [46]:
n=5
def fib(x):
    a,b =0,1
    for i in range(x):
        a,b=b,a+b
    return a
print(fib(n))

5

In [47]:
n=152
def d_count(n):
    e=n
    count=0
    while e>0:
        count+=1
        e//=10
    return count

def armstrong(n):
    x=n
    res=0
    while x>0:
        d=x%10
        res=res+d**d_count(n)
        x//=10
    return res
if n==armstrong(n):
    print("armstrong")
else:
    print("not arm")

not arm

In [48]:
"""Task:
find largest and second largest from given list of numbers.
ip=['sravani','sravan','kumar','kumari','lalitha','lalith','arjun','lakshmi','nandini']
op=[(('sravani','female'),('sravan','male'),('kumar','male'))
"""


l1=[5,8,7,6,41,19,15]
fl=l1[0]
sl=l1[0]
for e in l1:
    if e>fl:
        sl=fl
        fl=e
    elif e>sl and e !=fl:
        sl=e
print("first",fl)
print("second",sl)

first 41
second 19

In [49]:
def gender(name):
    if name[-1] in "ai": 
        return (name, "female")
        
    return (name, "male")    


ip=['sravani','sravan','kumar','kumari','lalitha','lalith','arjun','lakshmi','nandini']
op = tuple(gender(name) for name in ip)
print(op)

(('sravani', 'female'), ('sravan', 'male'), ('kumar', 'male'), ('kumari', 'female'), ('lalitha', 'female'), ('lalith', 'male'), ('arjun', 'male'), ('lakshmi', 'female'), ('nandini', 'female'))

In [50]:
# 02-09-2025
import math
print(int(5.9))
print(math.ceil(5.9))

print(round(10.47987892802,4))

5
6
10.4799

In [51]:
num = float('-inf')
list1=[100,1000,10000,100000]
for i in list1:
    if i > num:
        num=i
print(num)

100000

In [52]:
num=float('-inf')
listt=[-20,30,-50,10]
for e in listt:
    e=abs(e)
    if e>num:
        num=e

print(num)

50

In [53]:
print(divmod(9,2))

(4, 1)

In [54]:
print(complex(3,4))

(3+4j)

In [55]:
num=4
print(type(num))
print(isinstance(num,int))

<class 'int'>
True

In [56]:
num=[10,10.0,11,11.0,12,13]

     
def instance(n):
    return isinstance(n,int)  # returns boolean value  True or False
    
num2=[instance(x) for x in num]
print(num2)

[True, False, True, False, True, True]

In [60]:
import math
num=5
print(math.factorial(num))

120

In [3]:
grid = [[0,1,0,0],[1,1,1,0],[0,1,0,0],[1,1,0,0]]
print(len(grid))
print(grid[0])
print(len(grid[0]))

4
[0, 1, 0, 0]
4

# string built-in functions

"""ASCII - American standard code for information interchange"""

In [2]:
s="a"
print(chr(ord(s)-32))
print(ord("1"))

A
49

In [3]:
s="SAI"
print(s.lower())

sai

In [4]:
s="kiran"
print(s.upper())

KIRAN

In [6]:
s="first name"
print(s.capitalize())
print(s.title())

First name
First Name

In [8]:
s="sAiKiRaN"
print(s.swapcase())


st="ddskldskokansfj kdkflks lkldhfjl jdlfnjsdf ndfnj"
print(st.swapcase())

SaIkIrAn
DDSKLDSKOKANSFJ KDKFLKS LKLDHFJL JDLFNJSDF NDFNJ

In [ ]:
def sai(s):
    res=""
    for i in range(len(str(s))):
        if "a"<=s[i]<="z":
            res+=(chr(ord(s[i])-32))
        elif "A"<=s[i]<="Z":
            res+=chr(ord(s[i])+32)
    return res    

s="skJUG"
print(sai(s))

SKjug

In [ ]:
s=" Sai Kiran "
print(s)
print(s.strip())
print(s.lstrip())  # remove left space
print(s.rstrip())   # remove right sapce

 Sai Kiran
Sai Kiran
Sai Kiran
 Sai Kiran

In [24]:
s="I am java developer"
s.replace("java","Python")

'I am Python developer'

In [29]:
str1="dkfjff,fhuhsdfu,jdasihfj,fhdgb,"
parts=str1.split(",")
print(parts)
print(str1.count("f"))

['dkfjff', 'fhuhsdfu', 'jdasihfj', 'fhdgb', '']
7

In [5]:
a=set()
print(type(a))

<class 'set'>

In [9]:
dict1={'name':"sai","age":21}
dict1['age']=25
print(dict1)
dict1["place"]="hyderabd"
print(dict1)
dict1.keys()
for key in dict1:
    print(key)

{'name': 'sai', 'age': 25}
{'name': 'sai', 'age': 25, 'place': 'hyderabd'}
name
age
place

In [16]:
v="aeiou"
for i in range(97,123):
    if chr(i) in v:
        print(chr(i),end=" ")

a e i o u

In [8]:
for i in range(97,123):
    print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [2]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True

n1=1
n2=10
for i in range(n1,n2):
    if is_prime(i):
        print(i)

2
3
5
7

In [4]:
a=int(input())
b=int(input())

def add_num(a,b,c=10):
    return a+b+c
print(add_num(a,b))

22

In [5]:
a={}
print(type(a))

<class 'dict'>

In [2]:
a = int(input())
b = int(input())

def add_num(a, b, c=10):
    return a + b + c

# Store the result in a variable and print it
result = add_num(a, b)
print(result)

# Or print the result directly
# print(add_num(a, b))

21

In [3]:
s="1234"
for x in s[::-1]:
    print(x)

4
3
2
1

In [1]:
s="Sai Kiran"
print(s.find("Kiran"))

4

In [3]:
s="Kiran Sai Kiran"
print(s.rfind("Kiran"))

10

In [ ]:

# rfind

def sai(s,ss):
    for  i in range(len(s)-1,-1,-1):
        if s[i]==ss:
            return i



s="Kiran Sai Kiran"
ss="K"
print(sai(s,ss))

10

In [8]:
s="Kiran Sai Kiran"
ss="Kiran "
print(ss.index(" "))

5

In [ ]:
# checking function
# returns boolean values    ( True / False )


# startswith()
""" startwith():
to check its prefix starts with sub or not (True or False )

endswith()
to check its suffix with sub string()

s.endswith(suffix)  # true or false

islower()
to check the string is lower or not 

s.lower()

isupper()
to check the string is upper or not
s.upper()


isalpha()
to check the string is alphabet or not

s.isalpha()


isdigit()
to check the input contains all digits or not

s.digit()

isalnum()
to check input contains alphanumeric a-z, A-Z, 0-9
s.alnum()


isspace()
str.isspace()

Meaning: Returns True if all characters in the string are whitespace characters.

Whitespace characters include:

Space " "

Tab "\t"

Newline "\n"

Carriage return "\r"

Vertical tab "\v"

Form feed "\f"

If the string contains only whitespace and is not empty, it returns True.
Otherwise, it returns False.
"""

In [9]:
print("   ".isspace())   # True (only spaces)
print("\t".isspace())    # True (tab is whitespace)
print("\n".isspace())    # True (newline is whitespace)
print(" \n\t".isspace()) # True (combination of whitespace)

print("Kiran".isspace()) # False (letters inside)
print("123".isspace())   # False (digits inside)
print("Kiran Sai".isspace()) # False (letters + space, not only whitespace)
print("".isspace())      # False (empty string)

True
True
True
True
False
False
False
False

In [ ]:
"""✅ str.istitle()

Meaning: Returns True if the string is in title case.

Title case definition in Python:

Each word starts with an uppercase letter (A–Z).

The rest of the characters in each word are lowercase (a–z).

Returns False otherwise."""

# 🔹 Examples
print("Kiran Sai".istitle())   # True (both words start with uppercase)
print("HELLO WORLD".istitle()) # False
print("Python".istitle())      # True

print("kiran Sai".istitle())   # False (first word not capitalized)
print("Kiran sai".istitle())   # False (second word not capitalized properly)
print("HELLO World".istitle()) # False (first word all caps)
print("123 Kiran".istitle())   # True (numbers are ignored, but "Kiran" is titlecase)
print("".istitle())            # False (empty string)

True
False
True
False
False
False
True
False

In [ ]:
"""✅ str.split()

Meaning: Splits a string into a list of substrings.

By default, it splits on whitespace (spaces, tabs, newlines).

You can also pass a separator to split on (like ",", "-", "|", etc.).

You can limit the number of splits using the optional maxsplit argument.

🔹 Syntax
string.split(separator, maxsplit)


separator → (optional) The delimiter to split on. Default: whitespace.

maxsplit → (optional) How many splits to do. Default: -1 (no limit)."""

In [12]:
## examples

# Default (split by whitespace)
text = "Kiran Sai Kiran"
print(text.split())  
# ['Kiran', 'Sai', 'Kiran']

# Split by a specific character
data = "apple,banana,grape"
print(data.split(","))  
# ['apple', 'banana', 'grape']

# Split with maxsplit
line = "one two three four"
print(line.split(" ", 2))  
# ['one', 'two', 'three four']

# Split on newlines
multi = "line1\nline2\nline3"
print(multi.split("\n"))  
# ['line1', 'line2', 'line3']

['Kiran', 'Sai', 'Kiran']
['apple', 'banana', 'grape']
['one', 'two', 'three four']
['line1', 'line2', 'line3']

In [13]:
# special cases
print("   ".split())      # [] → empty string after trimming whitespace
print("   a   b  ".split())  # ['a', 'b']
print("".split())         # [] (empty string gives empty list)
print("a b c".split(""))  # ❌ Error: empty separator not allowed

[]
['a', 'b']
[]

ValueError: empty separator

In [ ]:
"""Quick Interview Tip:

split() is mostly used in parsing input, e.g., "12,34,56".split(",").

Opposite of split() is join(), which combines a list back into a string."""

In [ ]:
"""✅ str.join(iterable)

Meaning: Joins (concatenates) the elements of an iterable (like list, tuple, set) into a single string, with the string (on which join is called) as the separator.

Opposite of split() → split() breaks a string into a list, join() combines a list into a string.

🔹 Syntax
separator.join(iterable)


separator → string placed between each element.

iterable → must contain only strings (not numbers).


⚡ Quick Interview Tip:

split() → String → List

join() → List → String

"""

In [14]:
# Join with space
words = ["Kiran", "Sai", "Kiran"]
print(" ".join(words))  
# 'Kiran Sai Kiran'

# Join with hyphen
print("-".join(words))  
# 'Kiran-Sai-Kiran'

# Join with no separator
print("".join(words))  
# 'KiranSaiKiran'

# Join letters of a word
print("_".join("Python"))  
# 'P_y_t_h_o_n'

# Join with newline
print("\n".join(words))
# Kiran
# Sai
# Kiran

Kiran Sai Kiran
Kiran-Sai-Kiran
KiranSaiKiran
P_y_t_h_o_n
Kiran
Sai
Kiran

In [15]:
print(",".join([]))       # '' (empty list → empty string)
print(",".join(["a"]))    # 'a' (single element, no separator used)

# ❌ Error: Non-string elements
nums = [1, 2, 3]
# print(",".join(nums))   # TypeError
# ✅ Fix: Convert to string
print(",".join(map(str, nums)))  # '1,2,3'

a
1,2,3

In [2]:
n=5
def fib(n):
    a,b=0,1
    for i in range(n):
        a,b=b,a+b
    return a
    
print(fib(n))

5

In [ ]:
"""Python List methods
Last Updated : 23 Jul, 2025
Python list methods are built-in functions that allow us to perform various operations on lists, such as adding, removing, or modifying elements. In this article, we’ll explore all Python list methods with a simple example.

List Methods
Let's look at different list methods in Python:

append(): Adds an element to the end of the list.
copy(): Returns a shallow copy of the list.
clear(): Removes all elements from the list.
count(): Returns the number of times a specified element appears in the list.
extend(): Adds elements from another list to the end of the current list.
index(): Returns the index of the first occurrence of a specified element.
insert(): Inserts an element at a specified position.
pop(): Removes and returns the element at the specified position (or the last element if no index is specified).
remove(): Removes the first occurrence of a specified element.
reverse(): Reverses the order of the elements in the list.
sort(): Sorts the list in ascending order (by default)."""

In [ ]:
# 1.index()
num=[10,23,54,71]
t=54
def idx(num,t):
    for i in range(len(num)):
        if num[i]==t:
            return i
idx(num,t)

2

In [5]:
#2. len()
print(len(num))

4

In [6]:

a = [1, 2, 3]
a.append(4)

print(" ".join(map(str, a)))

1 2 3 4

In [16]:
l=[34,43,54,73,34,2,75,3,65,76,100]
mmax=float("-inf")
smax=float("-inf")

for i in range(len(l)):
    if l[i]>mmax:
        smax=mmax
        mmax=l[i]
    elif l[i]>smax and l[i] < mmax:
        smax=l[i]

print(mmax)
print(smax)

100
76

In [ ]:
"""
list_name.sort()  merge,quick

l.sort(key=len)
"""

In [ ]:
s="hello world"

In [1]:
l=[100,10,99,9,999]
fmin=float("inf")
for i in l:
    if i<fmin:
        fmin=i

print(fmin)

9

In [7]:
l=[100,10,99,9,999]
fmin=float("inf")
smin= float("inf")
for i in l:
    if i<=fmin:
        smin=fmin
        fmin=i
    elif i<smin and i>fmin:
        smin=i

print(fmin, smin)

9 10

In [8]:
n=10
for j in range(1,n+1):
    for i in range(1,11):
        print(f'{j} x {i} = {j*i} ')
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [9]:
n=10
for i in range(1,n+1):
    for i in range(1,11):
        print(f'{i} x {i} = {i*i} ')
    print()

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [ ]:
""" n=int(input())
    s=input()
    a,b,c=map(int,input().split())
    l=list(map(int,input().split()))


"""

In [ ]:
l1=list(map(int,input().split()))
print(l1)

[10, 23, 0, 4]

In [22]:
l2=[]
n=3
for i in range(n):
    l1=list(map(int,input().split()))
    l2.append(l1)
print(l2)

[[10, 12, 12, 14], [1, 2, 3, 4], [1, 2, 3, 5]]

In [23]:
n=4
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [2]:
def primes(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True

n=int(input("enter:"))
print(primes(n))

False

In [8]:
def primes(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True

n=int(input("enter:"))
def near_prime(n):
    if primes(n):
        return n
    l=n-1
    h=n+1
    while True:
        if l>1 and primes(l):
            return l
        if primes(h):
            return h
        l-=1
        h+=1

print(near_prime(n))

7